.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_titulo {
    text-align: center;
    font-size: 3.5em;
    font-weight: 700;
}

.banner_subtitulo {
    text-align: center;
}

#banner_btn {
    background-color: green;
    font-weight: 600;
    margin-top: 2em;
    color: var(--branco);
}

#banner_btn:hover {
    background-color: rgb(0, 75, 0);
}

#btn_compra {
    margin-top: 1em;
    font-weight: 700;
}