#conteudo {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    margin-top: 2em;
}

.card {
    width: 20vw !important;
}

.card-header, #produto_preco {
    font-weight: 700 !important;
    color: green !important;
}

#form_buscar_produtos {
    margin-top: 1em;
}