@import url(./banner.css);
@import url(./conteudo.css);
@import url(./formulario.css);
@import url(./sidebar.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --preto: #000;
    --background-home: #e3e9f7;
    --verde: #157347;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #e3e9f7;
}